{% extends "backend_dashboard/index.html" %}
        {% block body %}
        <head>
                <meta charset="utf-8">
                <title>CKEditor</title>
                <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>

<style>
body {
  background-color: lightgray;
}
</style>

        </head>

<body>
 <div class="container col-md-8">      
<form action="{{ url_for('add_post') }}" method="POST" enctype="multipart/form-data">


<div class="md-form form-group mt-5">

<select name="category" class="form-control" id="cars" required>
<option value="">Select Category</option>
{% for i in category %}
<option value="{{ i.category }}">{{ i.category }}</option>
{% endfor %}
</select>


</div>

<div class="md-form form-group mt-5">
{% for message in get_flashed_messages() %}
<code>{{ message }}</code>
{% endfor %}
<input type="text" class="form-control" name="blog_title" placeholder="Blog Title">

</div>
  <div class="md-form form-group mt-5">

<textarea name="blog_meta_description" class="form-control" placeholder="Blog Meta Description"></textarea>
  </div>

  <div class="md-form form-group mt-5">

<textarea name="blog_meta_keywords" class="form-control" placeholder="Blog Meta Keywords"></textarea>
  </div>

  
  <div class="md-form form-group mt-5">

<textarea name="editor1" ></textarea>
</div> 
<div class="md-form form-group mt-5 col-md-4">
<input type="file" name="img" class="btn btn-outline-dark btn-block " required>
  </div>
 <div class="md-form form-group mt-5 col-md-4">
<input type="submit" name="" value="Post Blog" class="btn btn-outline-dark btn-block ">
  </div>
</form>
</div>

<!-- Material form group -->       
                <script>
                        CKEDITOR.replace( 'editor1' );
                </script>
       </body>
        {% endblock body %}
